* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .borTes {
    border: 2px solid red;
} */

body {
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
}

.inset {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.containerBiru {
    display: block;
    background-color: #1A73E8;
    /* width: 1728px; */
    height: 28px;
}

.subKon {
    display: block;
    height: 28px;
}

.kontenKiri {
    display: inline-block;
    float: left;
    line-height: normal;
}

.kontenKanan {
    display: inline-block;
    float: right;
    line-height: normal;
}

.iconLokasi {
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.itemKanan {
    display: inline-block;
}

.itemMenu {
    display: inline-block;
    padding: 10px;
}

.listIcon {
    display: inline-block;
    height: 14px;
    width: 14px;
}

.teksHeader {
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 20px;
}

.subKonNav {
    display: block;
    padding-top: 30px;
}

.B {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #1A73E8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
}

.logoTeks {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(40, 40, 40);
    vertical-align: middle;
    margin-left: 10px;
}

.logoArea {
    display: inline-block;
    float: left;
    height: 44px;
    line-height: 44px;
}

.areaPencarian {
    display: inline-block;
    float: left;
    margin-left: 30px;
    padding-top: 5px;
}

.menuKanan {
    display: inline-block;
    line-height: 44px;
    margin-left: 25px;
}

.inputCari {
    width: 576px;
    height: 38px;
    padding: 0 15px;
    border: 2px solid #F3F4F6;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    vertical-align: top;
}

.tombolcari {
    width: 40px;
    height: 35px;
    background-color: #1A73E8;
    border: 2px solid #1A73E8;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.iconCari {
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: auto;
    padding-top: 5px;
}

.menuItem {
    display: inline-block;
    margin-left: 5px;
    color: rgb(80, 80, 80);
    vertical-align: middle;
    cursor: pointer;
}

.iconMenu {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.containerList {
    display: block;
    margin-top: 10px;
    height: 60px;
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.Thet {
    display: block;
    border-collapse: collapse;
    font-family: sans-serif;
}

.tabelMenu {
    display: inline-table;
    margin-right: 132px;
}

.bannerLuarS {
    display: inline-block;
    width: 50%;
    float: left;
    height: 420px;
    background-color: #4F39F6;
}

.bannerLuarD {
    display: inline-block;
    width: 50%;
    float: right;
    height: 420px;
    background-image: linear-gradient(to right, rgba(106, 27, 154, 0.7) 75%), url('/asset/elektronik.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.bannerDalam {
    margin-left: 205px;
    position: relative;
    height: 410px;
    width: 660px;
    margin-top: 0;
}

.wrapKa {
    display: inline-block;
    width: 70px;
    height: 100%;
    padding-top: 85px;
    float: right;
}

.wrapKi {
    display: inline-block;
    width: 70px;
    height: 100%;
    padding-top: 85px;
    float: left;
}

.Pkanan {
    border: 2px solid #FFFFFF33;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    margin-top: 73px;
    text-align: center;
    line-height: 50px;

}

.Pkiri {
    border: 2px solid #FFFFFF33;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    margin-top: 80px;
    margin-left: 25px;
    text-align: center;
    line-height: 50px;
}

.GarBaw {
    display: inline-block;
    color: #FFFFFF;
    float: right;
}

.bannerJudul {
    margin-top: 60px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.bannerSubJudul {
    color: rgb(230, 230, 230);
    font-size: 28px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bannerTombol {
    display: block;
    background-color: #ffffff;
    color: rgb(40, 40, 40);
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}